/******************************************/
/**************  Defaults *****************/
/****************************************/
@media print, screen and (min-width: 40em)
{
   body:not(.browse) #content
   {
      padding-left: 0;
      margin: 1rem;
   }
}
#content
{
   min-height: 70vh;
   padding-left: 0;
   max-width: 80%;
}
body
{
   font-weight: 400;
   font-family: "Lato", sans-serif;
}

/******************************************/
/***************  TYPO  ******************/
/****************************************/

/* Überschriften */
h1
{
   line-height: 1.2;
   margin-bottom: 2.5rem;
}
p
{
   font-size: 1.5rem;
}

/*  Links */
a
{
   color: #000;
   background-color: transparent;
   border-bottom: 2px solid black;
   padding-bottom: 2px;
   display: inline;
}
a:hover
{
   color: #000;
   border-bottom: 2px solid white;
}
.menu .active>a, .menu a,  a.suchindex-home
{
   background: #fff;
   color: #000;
   /*font-size: 3.5rem;*/
   font-size: 3rem;
   font-family: "Lato", sans-serif;
   font-weight: 500;
   line-height: 4.6rem;
   letter-spacing: 1px;
}
.menu .active>a, .menu a
{
   border-bottom:none;
}
a.metadata-browse-link
{
   display: inline !important;
   font-size:60%;
}
.site-title a
{
   border-bottom: none;
}
a.footerlink
{
   border-bottom: none;
}
a.advanced-search
{
   background-color: #000;
   color: #fff;
   padding: 4px;
   font-weight: 600;
}
a.uri-value-link:hover, a.uri-value-link:focus, a.uri-value-link:focus-visible
{
   color:#000 !important;
   outline-color: transparent !important;
   border-bottom: 2px solid white !important;
   text-decoration: none;
}
:focus-visible, :focus
{
   outline-color: transparent;
   outline-style: auto;
   outline-width: 0px;
}


/* SPECIAL TEXT-STYLES*/

.site-title-label
{
   font-size: 3.8rem;
   font-family: "Lato", sans-serif;
   color: #000000;
   font-weight: 500;
   line-height: 4rem;
   text-transform: uppercase;
}

/* BUTTONS */
[type=button]:hover, [type=button]:focus
{
   color: #d6a7ff !important;
   background-color: #fff;
}
.button:hover, .button:focus
{
   background-color: transparent;
   color: #000;
   border: none;
}
.browse-controls input, .browse-controls select, .browse-controls button, .browse-controls .button, [type=button], [type=button][disabled], [type=submit]
{
   /*background-color: #000;
   color: #fff;*/
}
[type=submit]:hover, [type=submit]:focus, [type=button]:hover, [type=button]:focus 
{
   /*background-color: #000;*/
}
.button, .button.disabled, .button[disabled], .button.disabled:hover, .button[disabled]:hover, .button.disabled:focus, .button[disabled]:focus
{
   background-color: transparent;
   color: #000000;
}
.button.disabled, .button[disabled]
{
   opacity: 0;
}
.browse-controls select, .browse-controls button
{
   border: 1px solid #000;
   background-color: #fff !important;
   color: #000 !important;
}
.facets-reset
{
   color: #fff ;
   vertical-align: middle;
   margin: 0 0 1rem 0;
   padding: .85em 1em;
   font-family: inherit;
   font-size: .9rem;
   -webkit-appearance: none;
   line-height: 1;
   text-align: center;
   cursor: pointer;
   display: inline-block;
}
#facets-reset, #facets-apply, .field-meta label, [type=submit], [type=submit]:focus
{
   background-color: #a95eff !important;
}
.layout-toggle
{
   display: none;
}


/*******************************************/
/********* TOP-NAVIGATION ************/
/******************************************/
.top-bar
{
   margin-left: auto;
   margin-right: auto;
   max-width: 75rem;
   border-bottom: 2px solid #000;
}
.top-bar .top-bar-left
{
   max-width: 25%;
}
h1.site-title
{
    margin: 0 0 0 10px;
}
.site-title img
{
   max-height: 100%;
}
.top-bar, .top-bar ul
{
   background-color: #ffffff;
}
.top-bar
{
   margin-top: 3rem;
}
.top-bar form
{    
   display: none;
}
.top-bar .top-bar-right
{
      margin-left: 5%;
}
.top-bar-right .search
{
   display: none;
}
.menu
{
   margin-block-end: -7.4rem;
   background-color: transparent!important;
}
.menu .active>a, .menu a, a.suchindex-home
{
   background: transparent !important;
}

/***************************************************************/
/***  SUCHERGEBNIS FILTER NACH OBJEKTTYPEN VON STARTSEITE ******/
/**************************************************************/

.item.resource.browse.dropdown-menu #content h2 span
{
   display:block;
}
.item.resource.browse.dropdown-menu #content h2::after
{
   /*content: "Suchergebnis";
   display: block;
   float: left;*/
}
.filter-label
{
   display:none;
}
.filter-value
{
   background: #fff;
   color: #000;
   padding: 0 0 0 15px;
   font-size: 2.5rem;
}
.resource-list .resource-link img
{
   width: 15%;
}
.browse-controls.closed .omeka-pagination
{
   display:none;
}
.browse-controls.closed
{
   margin-left: 40%;
}

/* BESCHREIBUNGSTEXT AUSBLENDEN */
.item.resource.media-object .description.full
{
   display: none;
}


/********************************************/
/****************  HOME ******************/
/******************************************/
.introtext, .institutionen, .orte-headline, .orte-map, .text-ueber, .schnelleinstieg-headline, .schnelleinstieg-typen, .schnelleinstieg-suche
{
   width:100%;
   padding: 10px;
}
.introtext p, .institutionen p, .text-ueber p
{
   font-size:1.5rem;
}

/* INTRO*/
.introtext
{
   background-color: #f99a98;
}

/* ABSCHNITT SUCHE */
.block.block-search
{
   width:100%;
}
.schnelleinstieg-suche
{
   margin-top:20px
}
.page.willkommen.dropdown-menu .form-search fieldset 
{
  width: 30%;
}
.page.willkommen.dropdown-menu .form-search fieldset .field
{
  width: 100%;
}
.page.willkommen.dropdown-menu #form-search .field-meta
{
   margin-bottom: 10px;
}
.page.willkommen.dropdown-menu #search-filters
{
   display: none !important;
}
.schnelleinstieg-suche
{
   margin-top: 0 !important;
}
.schnelleinstieg-suche, .schnelleinstieg-headline
{
   background-color: #9ee2cc;
   margin-bottom: 0 !important;
}
.suchein-home, .page.willkommen.dropdown-menu .field-meta label
{
   font-size: 1.5rem;
   font-family: "Lato", sans-serif;
   background-color:#000;
   color: #fff;
   padding: 3px;
}
.page.willkommen.dropdown-menu .page-layout-normal .block
{
   width:100%;
   float:none;
   margin:0 0 20px 0;
}
.page.willkommen.dropdown-menu .fieldset, #advanced-search .field
{
   border:none;
}
.page.willkommen.dropdown-menu .advanced-search-content
{
   display:block;
}
.page.willkommen.dropdown-menu #advanced-search .field-meta
{
   padding-bottom: 15px;
}
.page.willkommen.dropdown-menu [type=submit]
{
   margin-top: 59px;
   font-size: 1.5rem;
   font-family: "Lato", sans-serif;
   padding: 6px;
   border: none;
   margin-left: 10px;
}
.page.willkommen.dropdown-menu .preview-block .resource-list, .page.willkommen.dropdown-menu .preview-block.resource-list .resource
{
   border:none;
}

/* Item-sets */
#kacheln-hp
{
   margin-top:20px;
}

.kachel-buecher, .kachel-zeitschriften, .kachel-plakate,  .kachel-fotosammlung-mhg
{
   width:300px;
   height: 300px;
   margin-right: 30px;
   padding: 10px;
   float: left;
   background-color:#E1EBEE;
   margin-bottom:20px;
}

.kachel-buecher img, .kachel-zeitschriften img, .kachel-plakate img,  .kachel-fotosammlung-mhg img
{
   max-height:85%;
   object-fit:contain;
}

.kachel-buecher a, .kachel-buecher a:hover, .kachel-zeitschriften a, .kachel-zeitschriften  a:hover, .kachel-plakate a, .kachel-plakate a:hover, .kachel-fotosammlung-mhg a, .kachel-fotosammlung-mhg a:hover
{
   font-size:1.9375rem;
   border:none;
}


/* GRAPH AUF HOME */
/* DERZEIT NICHT AKTIV */
.block-d3Graph, .block .d3-graph
{
  width: 100% !important;
}

/**********************************************************/
/************  OBJEKT EINZELANSICHT ***************/
/********************************************************/

/* CONTEN EINZELSEITEN IN DIE MITTE RÜCKEN */
@media print, screen and (min-width: 40em) 
{
    body:not(.browse) #content 
{
        padding-left: 5px;
        margin: auto !important;
    }
}
/* Überschriften einzelner Metadaten */
dl dt, #objektmerken, #objektmerken a
{
   color: #FF6a67 !important;
   margin-bottom: 0;
   font-size: 1.3rem;
}
/* Metadaten Werte */
.resource.show .property dd 
{
   font-size: 1.5rem;
   margin-bottom: 15px;
}
h3.label
{
   display: none;
}

/* LIGHTBOX */
.lg-backdrop
{
   background-color: #ffffff;
}
#lg-maximize-1
{
   background-color: #000000;
}
.lg-icon:focus-visible
{
   outline: 0px solid #000000;
}


/* LINKE SPALTE */
.spalte-links
{
float: left;
width:40%;
padding-right: 20px;
}

/* SELECTION */
.selection.browse 
{
   margin-top: 10px;
   display: inline-block;
}
#objektmerken, #objektmerken a
{
   font-size:1.3rem;
   margin-top: 20px;
   border:none;
   color: gray;
}
.objektmerkenabstand
{
   margin-bottom:70px;
}
.selection-button:hover
{
   background-color: transparent;
}
.selection-icon
{
   top: 16px;
}
.selection.browse 
{
   margin-left: 10px;
}

/* WEITER- UND ZURÜCKPFEILE */
.block.resource-block.block-previous-next
{
   margin-bottom: 20px;
   margin-top: 50px;
   text-align: left;
}
.block.resource-block.block-previous-next a.button:first-child
{
   background-image: url("https://test.katalog.queersearch.org/files/asset/pfeil-nach-links-13-20.jpeg");
   height: 30px;
   width:13px;
   margin-right: -5px;
   margin-left:-10px;
   border:none;
   color:transparent;
   background-repeat: no-repeat;
   background-position-y: 10px;
}
.block.resource-block.block-previous-next a.button:last-child
{
   background-image: url("https://test.katalog.queersearch.org/files/asset/pfeil-nach-rechts-13-20.jpeg");
   height: 30px;
   width:13px;
   border:none;
   color:transparent;
   background-repeat: no-repeat;
   background-position-y: 10px;
}
.block.resource-block.block-previous-next a.button:hover
{
   background-color: transparent;
}
.vorzurueck
{
   font-size:1.5rem;
}
.vorzurueck a
{
   border: none;
}
.backtosearch
{
   margin-top: 20px;
}
.backtosearch a
{
   font-size:1.5rem;
   border: none;
   display: block;
}

/* EXPORT */
.value.exporters li a
{
   font-size:1.3rem;
   color: #FF6a67;
   border: none;
}
.bulk-export ul
{
   margin-left: 0;
}

/* RECHTE SPALTE */
.spalte-rechts
{
   float: left;
   width:60%;
   margin-top: 40px;
}
.item.resource.show.dropdown-menu .resource-title
{
   display:none;
}
.item.resource.browse.item-set.dropdown-menu .resource-list .resource-link img
{
   width: 15% !important;
}

/* LOGOS DATENGEBER*INNEN AUSBLENDEN */
.resource.show .resource-link img
{
   display:none !important;
}

/* METADATA BROWSE */

.resource.show .resource-link img
{
   display:none;
}
.metadata-browse-link
{
   border-bottom: 1px solid #fff;
}
.resource.show .resource-link
{
   display: inline;
}




/***********************************************************/
/***************** Erweiterte SUCHE ************************/
/***********************************************************/
#search-page h2
{
   display: none;
}
.search-page.resource.browse.dropdown-menu .search-form
{
   display:block;
}
.search-page .field-meta
{
   margin-bottom: 11px;
   margin-top: -11px;
}
#form-search .field-meta label
{
   font-size:1.9375rem;
   background-color:transparent !important;
   margin-top: 40px;
   color: #000000;
   margin-left: 0px;
}
a.advanced-search
{
   display: none;
}

/* VOLLTEXTSUCHE */
.form-search input[type="search"] 
{
   height: 38px;
   min-height: 38px;
   margin-top: -4px;
}

/* FILTER */
#search-filters
{
   margin-left: -7px;
   margin-top: 75px !important;
}
.search-filters-advanced::before
{
   content: "oder Filter  nutzen ";
   font-size:1.9375rem;
   margin-left: 5px;
}

/* Such-Buttons */
.search-form-buttons
{
   vertical-align:bottom;
}
.form-search button.search-submit 
{
   position:relative;
   top: 25px;
}

/* Ersten Bool ausblenden */
#search-filters .filter select[name="filter[0][join]"]
{
   display:none;
}
#search-filters .filter:first-of-type
{
   padding-left:0px ;
}
#search-filters .filter select:nth-of-type(1)
{
   min-width:80px;
}
#search-filters .filter select, #search-filters .filter input, .form-search input[type="search"]
{
   border: 1px #a95eff solid !important;
}

/* FACETTEN */
.facets-list
{
   margin-left:0;
}
.facets-apply, .facets-reset
{
   padding: .5em;
}
.search-facets 
{
   min-width: 40%;
   padding: 0;
}
.facet-items.chosen-select[name="facet[dcterms_title][from]"], .facet-items.chosen-select[name="facet[dcterms_title][to]"]
{
   margin: 0 5px;
}


/* FORMULARENDE */
.noresults
{
   display: none;
}
.omeka-pagination form, .omeka-pagination .button-group 
{
   white-space: nowrap;
}


/* ERGEBNISLISTE */

.search-results .resource-list .resource-heading 
{
   font-weight: normal;
}

.resource-list .resource
{
   border-bottom: 4px solid #9ee2cc;
}
.resource-list 
{
   border-top: 4px solid #9ee2cc;
}
.resource-list .resource-link img 
{
   width: 100% !important;
}
.omeka-pagination
{
   width:100%;
}

/***********************************************************/
/******************** SCHLAGWORTINDEX **********************/
/***********************************************************/

.pagination li:last-child, .pagination li:first-child
{
   display: unset;
}
#reference-headings
{
   padding-inline-start: 0px;
   margin-left: 0px;
}



/********************************************/
/**************  FOOTER ******************/
/******************************************/

footer
{
   border-top: 2px solid #000;
   padding: 5px 0 0 0;
   max-width: 80%;
}


/******************************************************/
/******************************************************/
/******************************************************/
/***************** RESPONSIVE ANGABEN *****************/
/******************************************************/
/******************************************************/
/******************************************************/


/******************************************************************/
/********************* UNTER 1100px BREITE  ***********************/
/*****************************************************************/
@media screen and (max-width:1100px)
{
   .title-bar
   {
      display: block !important;
      float: right;
   }
   .site-title img 
   {
      max-width: 30%;
   }
   header .top-bar
    {
       padding: 20px 20px 20px 0;
       max-width: 80% !important;
    }
   .top-bar .top-bar-left
    {
       max-width: 100% !important;
       display:block !important;
    }
   .top-bar-right
   {
      display: none !important;
   }
   /*BURGER*/
   .title-bar button, .title-bar button:hover
    {
        padding:0;
        font-size: 2rem;
        color: #000;
        background-color: #fff;
    }
   /*BURGER AUSGEKLAPPT*/
   .off-canvas
   {
      padding: 10px;
   }
   .menu .active>a, .menu a, a.suchindex-home 
   {
      font-size: 1.7rem !important;
      line-height: 2rem !important;
   }
   .search
    {
        display: none;
    }
   /* HOME */
    .page.willkommen.dropdown-menu .form-search fieldset
   {
      margin: 11px 0 36px;
   }
    .page.willkommen.dropdown-menu .form-search button.search-submit 
   {
      margin-left: 10px;
   }
}

/******************************************************************/
/********************* UNTER 740px BREITE  ************************/
/*****************************************************************/
@media screen and (max-width:740px)
{
   body:not(.browse) #content
   {
      padding: 0 !important;
      margin: 1rem !important;
    }
   .menu .active>a, .menu a, a.suchindex-home
   {
      font-size: 2.5rem;
      line-height: 3.5rem;
   }
   .page-layout-normal .block
   {
      margin: 0;
   }
   .title-bar
   {
      display:block !important;
      float: right;
   }

/*LOGO*/
    .site-title img
    {
       max-width: 40%;
       margin-left: 0.625rem;
    }

   /* HOME */
   .page.willkommen.dropdown-menu .fieldset, #advanced-search .field
    {
        padding: 0;
    }
    .page.willkommen.dropdown-menu .page-layout-normal .block
    {
       float: none;
       margin-bottom: 30px;
    }
   .schnelleinstieg-headline,  .schnelleinstieg-headline h1
   {
      margin-bottom:0 !important;
   }
   .block.block-search
   {
      margin-top: 0 !important;
      padding-top: 2.5rem;
   }
}


/******************************************************************/
/****************** UNTER 450px BREITE **************************/
/*****************************************************************/
@media screen and (max-width:450px)
{
   p
   {
      font-size: 1rem !important;
   }
   h1
   {
      font-size: 2rem !important;
   }
/*LOGO*/
    .site-title img
    {
       max-width: 45%;
       margin-left: 0.625rem;
    }
   /* BUTTONS UND INPUTS */
   [type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea, select
   {
      padding: 0.1rem;
      height: 2rem;
   }
/* HOME */
   .introtext, .institutionen, .orte-headline, .orte-map, .text-ueber, .schnelleinstieg-headline, .schnelleinstieg-typen, .schnelleinstieg-suche
   {
      width:98% !important;
      padding:5px;
   }
/* SUCHE */
   .form-search fieldset
   {
      margin:0;
   }
   .form-search button.search-submit
   {
      top: 0px !important;
   } 
   .form-search input[type="search"]
   {
      width: 85%;
   }
   #form-search .field-meta label, .search-filters-advanced::before, #search-facets h3
   {
      font-size: 1.5rem !important;
   }

/* Filter */

   #search-filters .filter:first-of-type, #search-filters .filter
   {
      width: 95%;
   }
   #search-filters .filter select:nth-of-type(1), #search-filters .filter:first-of-type
   {
      min-width: 55px !important;
   }
   #search-filters .filter select:nth-of-type(2), #search-filters .filter select:nth-of-type(3) 
   {
      min-width: 70px;
      width:130px;
   }
   #search-filters .filter .field
   {
   margin:0;
   }
   #search-filters .filter:first-of-type
    {
   width: 100%;
   }

/* Facetten */
   .search-facets
   {
   width: 45%;
   min-width: 45% !important;
   }
   .resource-list search-results-list list a
   {
    font-size: 1rem !important;
   }
   .facet-items.chosen-select[name="facet[dcterms_title][to]"] 
   {
   margin: 5px !important;
   }

/* Ergebnis */
   .search-results-wrapper
   {
   margin-top: 70px;
   }
   .search-results
   {
   margin-top: 74px;
   }
   .row-count
   {
   display: none;
   }
}
